################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/dist
/include/Eigen
*.pyc
/tomotopy.egg-info
build_windows.bat
*.bin
*.so
enwiki-stemmed-1000.txt
enwiki-1000.txt
/venv/
/venv.lin/
.vscode/
*.pyd
