/build
/dist
/include/
*.pyc
/tomotopy.egg-info
build_windows.bat
*.bin
*.so
enwiki-stemmed-1000.txt
enwiki-1000.txt
/venv/
/venv.lin/
/html/
.vscode/
*.pyd
*.log
examples/*
!examples/*.py
enwiki-16000.txt
*.cps
